{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/no-danger": 0,
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "props|primary|res|dispatch|next|^err"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "no-unused-expressions": [
      2,
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "radix": 0,
    "no-shadow": [
      2,
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "error"]
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.stories.{js,jsx}", "**/*.test.js", "**/*.spec.js", "**/store.js"] }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
