.items-container {
  background: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 16px;
  height: auto;
  margin-bottom: 24px;
}

.items-container ol {
  list-style: none;
  width: 100%;
}

.items-container ol li {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.card-item-container {
  display: flex;
}

.card-item-container a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.card-item-img img {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  padding: 16px;
}

.card-item-description {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  min-width: 480px;
}

.card-img-shipping {
  background-image: url('../../img/ic_shipping.png');
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin-left: 8px;
}

.card-item-price {
  font-size: 2em;
  margin-bottom: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.card-item-tile {
  font-size: 1.5em;
}

.card-item-state {
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
